h1 {
  color: rgb(15, 63, 15);
  text-align: center;
  margin: 40px 0 20px;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

h2 {
  color: black;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.about p {
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.05rem;
}

h2 i {
  margin-right: 10px;

  color: rgb(20, 84, 20);
  font-size: 1.2em;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 70px auto;
  padding: 60px 40px;
  gap: 60px;
  flex-wrap: wrap;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

/* Image Section  */

.about-image {
  flex: 1;
  position: relative;
  height: 320px;
  max-width: 600px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease;
}

.about-image:hover {
  transform: scale(1.02);
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(144, 224, 149, 0.55),
    rgba(146, 229, 171, 0.15)
  );
}

.about-text {
  flex: 1;
  min-width: 280px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  color: darkgreen;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.about-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.about.reverse {
  flex-direction: row-reverse;
}

.about:hover .about-text {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/*Responsive*/
@media screen and (max-width: 768px) {
  .about,
  .about.reverse {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    gap: 25px;
  }

  .about-image {
    width: 100%;
    height: 260px;
  }

  .about-text {
    width: 100%;
    opacity: 1 !important;
    transform: none !important;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .about {
    padding: 30px 15px;
    margin: 40px auto;
  }

  .about-image {
    height: 200px;
    border-radius: 18px;
  }

  .about-text {
    padding: 18px;
    font-size: 0.95rem;
  }
}
